.container {
    max-width: 98rem;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

.content {
    margin: 3.2rem 0;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}